* {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}

body {
    margin: auto;
}

header {
    background: #1f2937;
    display: flex;
    height: 50px;
}

header > container > p {
    margin: 0;
}

.header-logo {
    font-size: 24px;
    height: auto;
    color: #f9faf8;
    flex: 1;
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.header-links {
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 25px;
    align-items: center;
}

.header-links > a:visited {
    color: #f9faf8;
    text-decoration: none;
}
